<div class="row">
    <div>
        <h1><b> MICHI</b></h1>
    </div> 
    <div class="row1">
        <div class="opcion1">
            <label for="s1"><b>Inicia:</b></label>
            <select id="s1" [disabled]="svf" (change)="turno($event)" >
                <option value="0">{{oie[0]}}</option>                
                <option value="1">{{oie[1]}}</option>
                <option value="2">{{oie[2]}}</option>
            </select>                    
        </div>        
        <div class="opcion2">
            <menu class="opciones">
                <li><button [disabled]="g" (click)="enviar()">{{oie[cnb]}}</button></li>
                <!-- <li><button >{{oie[4]}}</button></li> -->
                <li><b><a href="#">{{oie[5]}}</a></b></li>
            </menu>    
        </div>    
    </div>       
</div>

