<div class="cuerpo">
  <div class="juego">      
    <input type="text" [disabled]="tf" id="0" class="figura1" [value]="limpiando[0]" (click)="contenido1($event)" readonly >
    <input type="text" [disabled]="tf" id="1" class="figura2" [value]="limpiando[1]" (click)="contenido1($event)" readonly >
    <input type="text" [disabled]="tf" id="2" class="figura3" [value]="limpiando[2]" (click)="contenido1($event)" readonly >
    <input type="text" [disabled]="tf" id="3" class="figura4" [value]="limpiando[3]" (click)="contenido1($event)" readonly >
    <input type="text" [disabled]="tf" id="4" class="figura5" [value]="limpiando[4]" (click)="contenido1($event)" readonly >
    <input type="text" [disabled]="tf" id="5" class="figura6" [value]="limpiando[5]" (click)="contenido1($event)" readonly >
    <input type="text" [disabled]="tf" id="6" class="figura7" [value]="limpiando[6]" (click)="contenido1($event)" readonly >
    <input type="text" [disabled]="tf" id="7" class="figura8" [value]="limpiando[7]" (click)="contenido1($event)" readonly >
    <input type="text" [disabled]="tf" id="8" class="figura9" [value]="limpiando[8]" (click)="contenido1($event)" readonly >			
  </div>
</div>

